src/main/java/learn/generateAxis/SI_CF_Budget_ReserveProcess_Syn.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="urn:webservice:bms:product:mittop:com"
                  xmlns:tns1="http://base.ws.bms.product.mittop.com"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="urn:webservice:bms:product:mittop:com">
  <!--WSDL created by Apache Axis version: 1.4
  Built on Apr 22, 2006 (06:55:48 PDT)-->
  <wsdl:types>
    <schema targetNamespace="urn:webservice:bms:product:mittop:com" xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://base.ws.bms.product.mittop.com"/>
      <element name="OP_BudgetReserveProcess">
        <complexType>
          <sequence>
            <element name="I_REQUEST" type="impl:Request"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="BaseInfo">
        <complexContent>
          <extension base="tns1:AElement">
            <sequence>
              <element name="MSGID" type="xsd:string"/>
              <element name="PMSGID" nillable="true" type="xsd:string"/>
              <element name="RETRY" nillable="true" type="xsd:string"/>
              <element name="SENDTIME" type="xsd:string"/>
              <element name="SERVICENAME" type="xsd:string"/>
              <element name="S_PROVINCE" nillable="true" type="xsd:string"/>
              <element name="S_SYSTEM" nillable="true" type="xsd:string"/>
              <element maxOccurs="1" minOccurs="0" name="T_PROVINCE" nillable="true" type="xsd:string"/>
              <element name="T_SYSTEM" nillable="true" type="xsd:string"/>
            </sequence>
          </extension>
        </complexContent>
      </complexType>
      <complexType name="LineItem">
        <sequence>
          <element name="amount" nillable="true" type="xsd:double"/>
          <element name="assignedCostMonth" nillable="true" type="xsd:int"/>
          <element name="assignedFundMonth" nillable="true" type="xsd:int"/>
          <element name="budgetItemCode" nillable="true" type="xsd:string"/>
          <element name="budgetProjectCode" nillable="true" type="xsd:string"/>
          <element name="budgetType" nillable="true" type="xsd:string"/>
          <element name="contractNo" nillable="true" type="xsd:string"/>
          <element name="customerCode" nillable="true" type="xsd:string"/>
          <element name="docState" nillable="true" type="xsd:string"/>
          <element name="isAmortize" nillable="true" type="xsd:string"/>
          <element name="orgCode" nillable="true" type="xsd:string"/>
          <element name="productCode" nillable="true" type="xsd:string"/>
          <element name="sapCostCenterCode" nillable="true" type="xsd:string"/>
          <element name="useType" nillable="true" type="xsd:string"/>
          <element name="wbsCode" nillable="true" type="xsd:string"/>
          <element name="writeoffDetailId" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfLineItem">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:LineItem"/>
        </sequence>
      </complexType>
      <complexType name="RequestItem">
        <sequence>
          <element name="account" nillable="true" type="xsd:string"/>
          <element name="docNum" nillable="true" type="xsd:string"/>
          <element name="docType" nillable="true" type="xsd:string"/>
          <element name="entityType" nillable="true" type="xsd:string"/>
          <element name="flowType" nillable="true" type="xsd:string"/>
          <element name="isTobepaid" nillable="true" type="xsd:string"/>
          <element name="isorgbudget" nillable="true" type="xsd:string"/>
          <element name="lineItem" nillable="true" type="impl:ArrayOfLineItem"/>
          <element name="month" nillable="true" type="xsd:int"/>
          <element name="orgCode" nillable="true" type="xsd:string"/>
          <element name="paymentType" nillable="true" type="xsd:string"/>
          <element name="payoffAmount" nillable="true" type="xsd:double"/>
          <element name="sapCompanyCode" nillable="true" type="xsd:string"/>
          <element name="totalAmount" nillable="true" type="xsd:double"/>
          <element name="transferDate" nillable="true" type="xsd:dateTime"/>
          <element name="year" nillable="true" type="xsd:int"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfRequestItem">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:RequestItem"/>
        </sequence>
      </complexType>
      <complexType name="RequestMessage">
        <sequence>
          <element name="items" nillable="true" type="impl:ArrayOfRequestItem"/>
        </sequence>
      </complexType>
      <complexType name="Request">
        <sequence>
          <element name="BASEINFO" nillable="true" type="impl:BaseInfo"/>
          <element name="MESSAGE" nillable="true" type="impl:RequestMessage"/>
        </sequence>
      </complexType>
      <element name="OP_BudgetReserveProcessResponse">
        <complexType>
          <sequence>
            <element name="E_RESPONSE" type="impl:Response"/>
          </sequence>
        </complexType>
      </element>
      <complexType name="ResponseItem">
        <sequence>
          <element name="budgetProjCode" nillable="true" type="xsd:string"/>
          <element name="budgetProjName" nillable="true" type="xsd:string"/>
          <element name="refIctCode" nillable="true" type="xsd:string"/>
          <element name="refIctName" nillable="true" type="xsd:string"/>
        </sequence>
      </complexType>
      <complexType name="ArrayOfResponseItem">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="item" type="impl:ResponseItem"/>
        </sequence>
      </complexType>
      <complexType name="ResponseMessage">
        <sequence>
          <element maxOccurs="1" minOccurs="0" name="type" nillable="true" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="errorMsg" nillable="true" type="xsd:string"/>
          <element maxOccurs="1" minOccurs="0" name="items" nillable="true" type="impl:ArrayOfResponseItem"/>
        </sequence>
      </complexType>
      <complexType name="Response">
        <sequence>
          <element name="BASEINFO" nillable="true" type="impl:BaseInfo"/>
          <element name="MESSAGE" nillable="true" type="impl:ResponseMessage"/>
        </sequence>
      </complexType>
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="http://base.ws.bms.product.mittop.com"
            xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="urn:webservice:bms:product:mittop:com"/>
      <complexType abstract="true" name="AElement">
        <sequence/>
      </complexType>
    </schema>
  </wsdl:types>

  <wsdl:message name="OP_BudgetReserveProcessResponse">

    <wsdl:part element="impl:OP_BudgetReserveProcessResponse" name="parameters">

    </wsdl:part>

  </wsdl:message>

  <wsdl:message name="OP_BudgetReserveProcessRequest">

    <wsdl:part element="impl:OP_BudgetReserveProcess" name="parameters">

    </wsdl:part>

  </wsdl:message>

  <wsdl:portType name="SI_CF_Budget_ReserveProcess_Syn">

    <wsdl:operation name="OP_BudgetReserveProcess">

      <wsdl:input message="impl:OP_BudgetReserveProcessRequest" name="OP_BudgetReserveProcessRequest">

      </wsdl:input>

      <wsdl:output message="impl:OP_BudgetReserveProcessResponse" name="OP_BudgetReserveProcessResponse">

      </wsdl:output>

    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="SI_CF_Budget_ReserveProcess_SynSoapBinding" type="impl:SI_CF_Budget_ReserveProcess_Syn">

    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="OP_BudgetReserveProcess">

      <wsdlsoap:operation soapAction=""/>

      <wsdl:input name="OP_BudgetReserveProcessRequest">

        <wsdlsoap:body use="literal"/>

      </wsdl:input>

      <wsdl:output name="OP_BudgetReserveProcessResponse">

        <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="SI_CF_Budget_ReserveProcess_SynService">

    <wsdl:port binding="impl:SI_CF_Budget_ReserveProcess_SynSoapBinding" name="SI_CF_Budget_ReserveProcess_Syn">

      <wsdlsoap:address location="http://localhost:9999/bmsws/service/axis/SI_CF_Budget_ReserveProcess_Syn"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
